@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=latin,vietnamese,cyrillic-ext,latin-ext,cyrillic);
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,700&display=swap&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese);

:host,
:root {
    --brand-dark-grey: #0e0e0e;
    --brand-red-coral: #ff444f;
    --brand-orange: #ff6444;
    --brand-orange-1: #e98024;
    --brand-secondary: #85acb0;
    --general-main-1: #ffffff;
    --general-main-2: #ffffff;
    --general-section-1: #f2f3f4;
    --general-section-2: #f2f3f4;
    --general-disabled: #eaeced;
    --general-hover: #e6e9e9;
    --general-active: #d6dadb;
    --text-prominent: #333333;
    --text-general: #333333;
    --text-less-prominent: #999999;
    --text-disabled: #d6d6d6;
    --text-profit-success: #4bb4b3;
    --text-loss-danger: #ec3f3f;
    --text-colored-background: #ffffff;
    --text-colored-barrier: #008000;
    --purchase-main-1: #4bb4b3;
    --purchase-section-1: #3d9494;
    --purchase-main-2: #ec3f3f;
    --purchase-section-2: #d33636;
    --purchase-disabled-main: #eaeced;
    --purchase-disabled-section: #e6e9e9;
    --button-primary-default: var(--brand-red-coral);
    --button-secondary-default: #999999;
    --button-tertiary-default: transparent;
    --button-primary-hover: #eb3e48;
    --button-secondary-hover: rgba(0, 0, 0, 0.08);
    --button-tertiary-hover: rgba(255, 68, 79, 0.08);
    --overlay-outside-dialog: rgba(0, 0, 0, 0.72);
    --overlay-inside-dialog: rgba(255, 255, 255, 0.96);
    --shadow-menu: rgba(0, 0, 0, 0.16);
    --state-normal: #ffffff;
    --state-hover: #e6e9e9;
    --state-active: #d6dadb;
    --state-disabled: #eaeced;
    --border-normal: #d6dadb;
    --border-hover: #999999;
}



:root {
    /* Spacing variables */
    --spacing-xxsm: 0.125rem;
    /* 2px */
    --spacing-xsm: 0.25rem;
    /* 4px */
    --spacing-s: 0.5rem;
    /* 8px */
    --spacing-m: 1rem;
    /* 16px */
    --spacing-l: 1.5rem;
    /* 24px */
    --spacing-xl: 2rem;
    /* 32px */
    --spacing-xxl: 3rem;
    /* 48px */

    /* Width variables */
    --element-width-xxsm: 3.75rem;
    /* 60px */
    --element-width-xsm: 6.25rem;
    /* 100px */
    --element-width-s: 9.375rem;
    /* 150px */
    --element-width-m: 12.5rem;
    /* 200px */
    --element-width-l: 18.75rem;
    /* 300px */
    --element-width-xl: 25rem;
    /* 400px */
    --element-width-xxl: 31.25rem;
    /* 500px */

    /* Height variables */
    --element-height-xxsm: 3.75rem;
    /* 60px */
    --element-height-xsm: 6.25rem;
    /* 100px */
    --element-height-s: 9.375rem;
    /* 150px */
    --element-height-m: 12.5rem;
    /* 200px */
    --element-height-l: 18.75rem;
    /* 300px */
    --element-height-xl: 25rem;
    /* 400px */
    --element-height-xxl: 31.25rem;
    /* 500px */

    /* Text size variables */
    --text-size-xxsm: 0.5rem;
    /* 8px */
    --text-size-xsm: 0.75rem;
    /* 12px */
    --text-size-s: 0.875rem;
    /* 14px */
    --text-size-m: 1rem;
    /* 16px */
    --text-size-l: 1.25rem;
    /* 20px */
    --text-size-xl: 1.5rem;
    /* 24px */
    --text-size-xxl: 2rem;
    /* 32px */
}

/* Media query for devices with width less than 1200px */
@media (max-width: 1200px) {
    :root {
        --spacing-xxsm: 0.1rem;
        /* 1.6px */
        --spacing-xsm: 0.2rem;
        /* 3.2px */
        --spacing-s: 0.4rem;
        /* 6.4px */
        --spacing-m: 0.8rem;
        /* 12.8px */
        --spacing-l: 1.2rem;
        /* 19.2px */
        --spacing-xl: 1.6rem;
        /* 25.6px */
        --spacing-xxl: 2.4rem;
        /* 38.4px */

        --element-width-xxsm: 3rem;
        /* 48px */
        --element-width-xsm: 5rem;
        /* 80px */
        --element-width-s: 7.5rem;
        /* 120px */
        --element-width-m: 10rem;
        /* 160px */
        --element-width-l: 15rem;
        /* 240px */
        --element-width-xl: 20rem;
        /* 320px */
        --element-width-xxl: 25rem;
        /* 400px */

        --element-height-xxsm: 3rem;
        /* 48px */
        --element-height-xsm: 5rem;
        /* 80px */
        --element-height-s: 7.5rem;
        /* 120px */
        --element-height-m: 10rem;
        /* 160px */
        --element-height-l: 15rem;
        /* 240px */
        --element-height-xl: 20rem;
        /* 320px */
        --element-height-xxl: 25rem;
        /* 400px */

        --text-size-xxsm: 0.4rem;
        /* 6.4px */
        --text-size-xsm: 0.6rem;
        /* 9.6px */
        --text-size-s: 0.8rem;
        /* 12.8px */
        --text-size-m: 0.9rem;
        /* 14.4px */
        --text-size-l: 1.1rem;
        /* 17.6px */
        --text-size-xl: 1.3rem;
        /* 20.8px */
        --text-size-xxl: 1.8rem;
        /* 28.8px */
    }
}

/* Media query for devices with width less than 768px */
@media (max-width: 768px) {
    :root {
        --spacing-xxsm: 0.0625rem;
        /* 1px */
        --spacing-xsm: 0.125rem;
        /* 2px */
        --spacing-s: 0.25rem;
        /* 4px */
        --spacing-m: 0.5rem;
        /* 8px */
        --spacing-l: 0.75rem;
        /* 12px */
        --spacing-xl: 1rem;
        /* 16px */
        --spacing-xxl: 1.5rem;
        /* 24px */

        --element-width-xxsm: 2.5rem;
        /* 40px */
        --element-width-xsm: 5rem;
        /* 80px */
        --element-width-s: 7.5rem;
        /* 120px */
        --element-width-m: 10rem;
        /* 160px */
        --element-width-l: 15rem;
        /* 240px */
        --element-width-xl: 20rem;
        /* 320px */
        --element-width-xxl: 25rem;
        /* 400px */

        --element-height-xxsm: 2.5rem;
        /* 40px */
        --element-height-xsm: 5rem;
        /* 80px */
        --element-height-s: 7.5rem;
        /* 120px */
        --element-height-m: 10rem;
        /* 160px */
        --element-height-l: 15rem;
        /* 240px */
        --element-height-xl: 20rem;
        /* 320px */
        --element-height-xxl: 25rem;
        /* 400px */

        --text-size-xxsm: 0.3rem;
        /* 4.8px */
        --text-size-xsm: 0.5rem;
        /* 8px */
        --text-size-s: 0.6rem;
        /* 9.6px */
        --text-size-m: 0.75rem;
        /* 12px */
        --text-size-l: 0.875rem;
        /* 14px */
        --text-size-xl: 1rem;
        /* 16px */
        --text-size-xxl: 1.5rem;
        /* 24px */
    }
}

/* Media query for devices with width less than 480px */
@media (max-width: 480px) {
    :root {
        --spacing-xxsm: 0.03125rem;
        /* 0.5px */
        --spacing-xsm: 0.0625rem;
        /* 1px */
        --spacing-s: 0.125rem;
        /* 2px */
        --spacing-m: 0.25rem;
        /* 4px */
        --spacing-l: 0.5rem;
        /* 8px */
        --spacing-xl: 0.75rem;
        /* 12px */
        --spacing-xxl: 1rem;
        /* 16px */

        --element-width-xxsm: 1.25rem;
        /* 20px */
        --element-width-xsm: 2.5rem;
        /* 40px */
        --element-width-s: 5rem;
        /* 80px */
        --element-width-m: 7.5rem;
        /* 120px */
        --element-width-l: 10rem;
        /* 160px */
        --element-width-xl: 12.5rem;
        /* 200px */
        --element-width-xxl: 15rem;
        /* 240px */

        --element-height-xxsm: 1.25rem;
        /* 20px */
        --element-height-xsm: 2.5rem;
        /* 40px */
        --element-height-s: 5rem;
        /* 80px */
        --element-height-m: 7.5rem;
        /* 120px */
        --element-height-l: 10rem;
        /* 160px */
        --element-height-xl: 12.5rem;
        /* 200px */
        --element-height-xxl: 15rem;
        /* 240px */

        --text-size-xxsm: 0.25rem;
        /* 4px */
        --text-size-xsm: 0.375rem;
        /* 6px */
        --text-size-s: 0.5rem;
        /* 8px */
        --text-size-m: 0.625rem;
        /* 10px */
        --text-size-l: 0.75rem;
        /* 12px */
        --text-size-xl: 1rem;
        /* 16px */
        --text-size-xxl: 1.25rem;
        /* 20px */
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: 'Roboto', sans-serif;
}

.nav {
    max-width: 100%;
    display: flex;
    align-items: center;
    background-color: aliceblue;
}

.brand {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.brand:hover {
    background-color: rgb(224, 230, 235);
}

.nav_first {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    padding-left: 1em;
}

.first_drop_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: .3em;
}

.traders_hub_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    cursor: pointer;
    padding: .3em;
    white-space: nowrap;
}

.traders_hub_cont:hover {
    background-color: rgb(224, 230, 235);
}

.reports_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    padding: .3em;
    cursor: pointer;
}

.reports_cont:hover {
    background-color: rgb(224, 230, 235);
}

.cashier_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    padding: .3em;
    cursor: pointer;
}

.cashier_cont:hover {
    background-color: rgb(224, 230, 235);
}

.notifications_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3em;
    cursor: pointer;
}


.manage_account_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3em;
    cursor: pointer;
}

.nav_second {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1em;
}

.account_balance_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    padding: .3em;
    cursor: pointer;
}

.account_balance_cont:hover {
    background-color: rgb(224, 230, 235);
}


.account_balance_drop_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3em;
    cursor: pointer;
}


.account_balance_logo>img {
    width: 1.8em;
    height: 1.8em;
}

.brand_log {
    padding: .3em;
    background-color: red;
    color: purple;
    border-radius: .4em;
    font-weight: bold;
    margin-right: .3em;
}

.brand_name {
    font-weight: bold;
    color: purple;
}

.first_dropdown_icon {
    display: block;
    margin-right: 2em;
}

.notifications_cont {
    margin-right: 1em;
}

.manage_account_cont {
    margin-right: 3em;
}

.deposit_cont {
    padding: .4em;
    padding-left: 1em;
    padding-right: 1em;
    color: #fff;
    background-color: red;
    border-radius: .5em;
    cursor: pointer;
}

.account_balance_fig_cont {
    margin-right: .3em;
    margin-left: .3em;
}

.hamburger_menu {
    font-size: 1.5em;
    display: none;
}

.account_balance_fig_cont {
    white-space: nowrap;
}


@media screen and (max-width: 900px) {
    .hamburger_menu {
        display: block;
        margin-right: auto;
        padding-left: 1em;
    }

    .deposit_cont {
        display: none;
    }

    .manage_account_cont {
        display: none;
    }

    .nav_first {
        display: none;
    }
}



@media screen and (max-width: 900px) {
    .hamburger_menu {
        display: block;
        margin-right: auto;
        padding-left: 1em;
    }

    .nav_first {
        padding-left: .7em;
    }

    .nav_second {
        padding-right: .5em;
    }
}






























.display_sections {
    padding: var(--spacing-xl);
    border: .5px solid orange;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.buy_sell_one_display {
    padding: var(--spacing-s);
    background-color: #e98024;
    cursor: pointer;
}


.buy_sell_two_display {
    padding: var(--spacing-s);
    background-color: #d33636;
    cursor: pointer;
}

.buy_sell_three_display {
    padding: var(--spacing-s);
    background-color: darkorchid;
    cursor: pointer;
}


.buy_sell_four_display {
    padding: var(--spacing-s);
    background-color: khaki;
    cursor: pointer;
}


.buy_sell_five_display {
    padding: var(--spacing-s);
    background-color: cornflowerblue;
    cursor: pointer;
}






























.account_symbol_change_cont {
    width: fit-content;
    border: .5px solid var(--border-normal);
    border-radius: .3rem;
    position: absolute;
    top: auto;
    background-color: var(--general-main-1);
    margin: var(--spacing-m);
    margin-top: var(--spacing-l);
    display: none;
    flex-direction: column;
    z-index: 999999;
}

.search_input_cont>input {
    width: 10rem;
}

.symbol_assets_cont {
    display: flex;
}

@media screen and (max-width: 670px) {
    .symbol_assets_cont {
        flex-direction: column;
    }

    .symbol_assets_logo_cont {
        display: flex;
    }

    .derived_indices_list_cont {
        display: none;
    }

    .derived_indices_drop>svg {
        display: none;
    }

    .derived_indices_drop,
    .derived_indices_list_cont {
        display: none;
    }

    .symbol_assets_logo_cont {
        display: flex;
        justify-content: space-around;
    }

    .svgg_text {
        display: none;
    }
}

.search_input_and_icon_cont {
    display: flex;
    padding: var(--spacing-s);
    border: .5px solid var(--border-normal);
    border-radius: .3rem;
}

.search_input_and_icon_cont_cover {
    padding: var(--spacing-m);
    padding-bottom: var(--spacing-xl);
    border-bottom: 1px solid var(--border-normal);
}

.symbol_assets_logo_cont {
    padding: var(--spacing-xl);
    background-color: var(--general-main-1);
    margin-right: var(--spacing-xl);
}



.symbol_assets_type_cont {
    overflow-y: auto;
    height: 20rem;
    padding-right: var(--spacing-xxl);
    scroll-behavior: smooth;
}

.search_input_cont {
    margin-right: auto;
}

.search_input_cont>input {
    outline: none;
    border: none;
}

.sym {
    display: flex;
    width: 20rem;
    align-items: flex-start;
    margin-bottom: var(--spacing-xxl);
    font-size: var(--text-size-s);
}

.smpt {
    margin-right: auto;
}

.big {
    font-size: var(--text-size-xl);
    font-weight: bold;
    margin-top: var(--spacing-xl);
}

.pbig {
    margin-bottom: 8rem;
    margin-left: var(--spacing-m);
}

.sm {
    font-size: var(--text-size-l);
    font-weight: 700;
    margin: var(--spacing-xl) 0 var(--spacing-l) 0;
}

.ass_cont {
    display: flex;
    margin-bottom: var(--spacing-m);
    cursor: pointer;
}

.svgg>svg {
    margin-top: var(--spacing-xxs);
}

.ass_cont.active {
    color: var(--brand-red-coral);
}

.svgg_text {
    margin: 0 var(--spacing-m);
    margin-left: var(--spacing-xs);
    font-size: var(--text-size-m);
    white-space: nowrap;
}

.indices_and_pairs_cont {
    margin-bottom: var(--spacing-xl);
}

.each {
    cursor: pointer;
    padding: var(--spacing-s);
    border: .3px solid lightgrey;
    border-radius: .3em;
}


.derive_logo_text_drop {
    margin-bottom: 0;
}

.derived_indices_list_cont {
    padding: var(--spacing-m);
    display: none;
    flex-direction: column;
}


.bascket {
    margin-bottom: var(--spacing-m);
    padding: var(--spacing-xs);
    border: .3ps solid lightgrey;
    border-radius: .3em;
    background-color: #f0f6f7;
    cursor: pointer;
}

.synthetics {
    padding: var(--spacing-xs);
    border: .3ps solid lightgrey;
    border-radius: .3em;
    background-color: #f0f6f7;
    cursor: pointer;
}


.derived_indices_drop_dropup {
    display: none;
}






















.wraps_everything_inside_body {
    padding: var(--spacing-l);
    border: .5px solid salmon;
}






.account_type_change_cont {
    display: none;
    flex-direction: column;
    letter-spacing: 0;
    position: absolute;
    background-color: white;
    height: fit-content;
    width: fit-content;
    padding: 1rem 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.real_demo {
    display: flex;
    font-size: .9rem;
    font-weight: bold;
    color: gray;
}

.real {
    display: flex;
    justify-content: center;
    padding-bottom: .5rem;
    cursor: pointer;
    flex: 1;
}

.real_bottom {
    border-bottom: 2px solid rgb(209, 53, 35);
}

.demo {
    display: flex;
    justify-content: center;
    padding-bottom: .5rem;
    cursor: pointer;
    flex: 1;
}

.dremo_bottom {
    border-bottom: 2px solid rgb(209, 53, 35);
}

.account_type_cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem .5rem;
    border: 1px solid rgb(212, 202, 202);
    margin: .5rem;
}

.account_type {
    font-size: .9rem;
    font-weight: bold;
    color: grey;
}

.current_balance_cont {
    display: none;
    justify-content: space-between;
    padding: .5rem .5rem;
    border: 1px solid rgb(212, 202, 202);
    margin: .5rem;
}

.current_balance_cont.actiive {
    background-color: red;
}

.current_balance_logo>img {
    width: 2rem;
    height: 1.7rem;
    margin: 0 .5rem;
}

.current_balance {
    display: flex;
    justify-content: flex-start;
    width: 50%;
}

.current_balance_fig_cont {
    display: none;
    justify-content: flex-end;
    width: 50%;
}

.reset {
    padding: .5rem;
    border: 1px solid grey;
    border-radius: .3rem;
    white-space: nowrap;
}

.curr {
    font-size: .9rem;
    font-weight: bold;
    color: gray;
}

.curr2 {
    font-size: .6rem;
    font-weight: bold;
}

.current_balance_fig {
    margin-right: .4rem;
}

.total_assets {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem .5rem;
    border: 1px solid rgb(212, 202, 202);
    margin: .5rem;
}

.ass1 {
    font-size: .9rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.ass2 {
    font-size: .7rem;
}

.ass3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.strategies_link {
    padding: 1.5rem .5rem;
    margin: .5rem;
    border: 1px solid rgb(212, 202, 202);
    font-size: .89rem;
    white-space: nowrap;
}

.logout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem .5rem;
    margin: .5rem;
    border: 1px solid rgb(212, 202, 202);
}

.manage_account {
    padding: .5rem;
    border: 1px solid grey;
}

.logout_left {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(128, 128, 128);
}

.overlay {
    display: none;
    width: 100%;
    height: 400vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    /* Dark transparent color */
    z-index: 8888;
    /* Ensure it appears on top of other content */
}

.D_4 {
    display: none;
}

.D_4_2 {
    display: block;
}

.D_3 {
    display: block;
}

.D_3_2 {
    display: none;
}

.pointer {
    cursor: pointer;
}


@media (max-width: 420px) {
    .account_type_change_cont {
        padding: .3rem .3rem;
    }

}






.account_contract_type_change_cont {
    display: none;
    position: absolute;
    top: auto;
    padding: var(--spacing-l);
    border: .5px solid lightgrey;
    border-radius: .3em;
    background-color: #fff;
    margin-top: var(--spacing-xl);
    margin-left: calc(var(--spacing-xxl) + 8rem);
    height: var(--element-height-xxl);
    width: 50%;
    overflow-x: auto;
    overflow-y: auto;
    z-index: 99999;
}


.type_category {
    margin-bottom: var(--spacing-xl);
    font-weight: bold;
    font-size: var(--text-size-xl);
}


.types {
    margin-bottom: var(--spacing-xxl);
    cursor: pointer;
    padding: .3em;
    border-radius: .3em;
    border: .5px solid lightgrey;
    background-color: #f0f5f5;
    width: fit-content;
}


.up_down {
    margin: 0 var(--spacing-xl) var(--spacing-xl) 0;
}




@media (max-width: 768px) {

    .account_contract_type_change_cont {
        flex-direction: column;
    }

}






































.chart>svg {
    width: var(--element-width-xxsm);
}

.top_set {
    padding: 1em;
}

.trade_symbol {
    border: .5px solid lightgrey;
    margin-bottom: .5em;
    display: flex;
    width: var(--element-width-xl);
}

.trade_type {
    border: .5px solid lightgrey;
    margin-bottom: .5em;
    display: flex;
    width: var(--element-width-xl);
    cursor: pointer;
}

.symbol_type_cont {
    display: flex;
    gap: 1em;
    cursor: pointer;
}


.trade_symbol_first,
.trade_type_first {
    margin-bottom: var(--spacing-m);
    font-size: var(--text-size-l);
    color: var(--border-hover);
}

.trade_symbol_secound,
.trade_type_secound {
    font-size: var(--text-size-xl);
}

.trade_symbol_display,
.trade_type_display {
    margin-right: auto;
}

.first_set_cont_left {
    display: flex;
}

.chart_and_tick_stream {
    margin-left: var(--spacing-l);
}




@media (max-width: 768px) {

    .trade_symbol,
    .trade_type {
        width: 0;
        flex: 1;
    }

    .first_set_cont_left {
        flex-direction: column;
    }

    .chart_and_tick_stream {
        margin-left: 0;
        margin-left: auto;
    }

}































.main_body_cont_flex {
    display: flex;
    gap: var(--spacing-xl);
    padding: var(--spacing-xl);
    flex-wrap: wrap;
}


@media (max-width: 853px) {
    .main_body_cont_flex {
        flex-direction: column;
    }
}



@media (max-width: 500px) {
    .info_one {
        font-size: var(--text-size-m);
    }

    .buy_price_loose_and_profit_container {
        font-size: var(--text-size-m);
    }

    .transaction_refrence{
        font-size: var(--text-size-s);
    }

    .proposal_information{
        font-size: var(--text-size-m);
    }

    .end_tic_off_trade{
        font-size: calc(var(--text-size-xxl) + .5rem);
    }
}




.buy_sell_one {
    padding: var(--spacing-xxl) var(--spacing-l);
    border: .5px solid lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 50%;
    /* Each item takes up 50% of the width */
    box-sizing: border-box;
    border-radius: .3em;
    display: none;
}

.buy_sell_two {
    border: .5px solid lightgrey;
    flex: 1 1 50%;
    /* Each item takes up 50% of the width */
    box-sizing: border-box;
    border-radius: .3em;
}


.buy_sell_three {
    border: .5px solid rgb(39, 30, 30);
    border-radius: .3em;
    flex: 1 1 50%;
    /* Each item takes up 50% of the width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: var(--spacing-xl);
}


.buy_sell_four {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    /* Each item takes up 50% of the width */
    box-sizing: border-box;
    border: .5px solid rgb(39, 30, 30);
}

.buy_sell_five {
    border: .5px solid lightgrey;
    align-items: stretch;
    flex: 1 1 50%;
    /* Each item takes up 50% of the width */
    box-sizing: border-box;
    border-radius: .3em;
    display: none;
    flex-direction: column;
}




@media (max-width: 800px) {

    .buy_sell_one,
    .buy_sell_two,
    .buy_sell_three,
    .buy_sell_four,
    .buy_sell_four,
    .buy_sell_five {
        flex: 1 1 100%;
        /* Each item takes up 100% of the width */
    }
}






































































































.start_time_cont {
    display: flex;
}

.start_stake_text_drop_cont {
    display: flex;
    padding: var(--spacing-s);
    border: .5px solid lightgrey;
    border-radius: .3em;
}

.start_time {
    margin-right: var(--spacing-l);
}

.start_stake_text {
    margin-right: calc(var(--spacing-xxl) + 7rem);
}

.start_time_cont {
    margin-bottom: var(--spacing-l);
}

.duration_cont {
    display: flex;
    gap: var(--spacing-l);
    margin-bottom: var(--spacing-l);
}

.input_and_minute {
    display: flex;
    gap: var(--spacing-l);
}



.duration_stake_text_drop_cont {
    display: flex;
    padding: var(--spacing-m);
    border: .5px solid lightgrey;
    border-radius: .3em;
    height: fit-content;
    flex: 1;
    width: var(--element-width-m);
}


.stake_Minutes_cont {
    display: flex;
    padding: var(--spacing-m);
    border: .5px solid lightgrey;
    border-radius: .3em;
    height: fit-content;
    flex: 1;

}

.input_cover>input {
    outline: none;
    border: .5px solid lightgrey;
    padding: var(--spacing-m);
    border-radius: .3em;
    flex: 1;
}


.stake_duration_text {
    margin-right: auto;
}


.stake_Minutes_text {
    margin-right: auto;
}


.minimum_input_text {
    margin-bottom: var(--spacing-xl);
}


.stake_display_cont {
    display: flex;
    margin-bottom: var(--spacing-xxl);
    gap: var(--spacing-l);
}

.stake_drop_cont {
    display: flex;
    padding: var(--spacing-m);
    border: .5px solid lightgrey;
    width: var(--element-width-l);
    border-radius: .3em;
    flex: 1;
}

.stake_drop_text {
    margin-right: auto;
}

.stake_display_cont_input>input {
    outline: none;
    border: .5px solid lightgrey;
    padding: var(--spacing-m);
    width: var(--element-width-s);
    border-radius: .3em;
    flex: 1;
}

.usd_text {
    flex: 1;
}

.allows_equals_cont {
    display: flex;
}

.check_allows_equals {
    margin-right: var(--spacing-m);
}


@media (max-width: 768px) {
    .input_and_minute {
        flex-direction: column;
    }
}

@media (min-width: 768px) {
    .input_cover>input {
        width: var(--element-width-xsm);
    }
}


@media (max-width: 768px) {
    .stake_duration_text {
        margin-right: var(--spacing-xxl);
    }
}































.last_digit_prediction_display_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--spacing-l);
}

.last_digit_prediction_input_drop {
    display: flex;
}

.last_digit_input_cover>input {
    outline: none;
    border: none;
}

.last_digit_prediction_input_drop {
    padding: var(--spacing-s);
    border: .5px solid lightgrey;
    border-radius: .3em;
    margin-left: var(--spacing-s);
}



























































































.up_order_cont {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex: 1;
}

.up_order_btn_up {
    display: flex;
    padding: var(--spacing-l) var(--spacing-l) 0 var(--spacing-l);
    margin-bottom: var(--spacing-l);
}

.up_stake_payout_cont {
    display: flex;
}

.stake_fig_curr,
.stake_fig_curr_payout {
    display: flex;
}

.up_trade_type_cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    flex: 1;
}

.up_trade_type_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stake_payout_puchase_cont {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.up_stake_payout_cont {
    margin-bottom: auto;
    justify-content: center;
    gap: var(--spacing-l);
}

.up_purchase_btn {
    text-align: center;
    padding: var(--spacing-m) var(--spacing-xl);
    background-color: green;
    border-radius: .3em;
}


.up_order_btn_down {
    text-align: center;
    padding: var(--spacing-xxl);
    background-color: rgb(243, 245, 247)
}






.down_order_btn_up {
    display: flex;
    padding: var(--spacing-l) var(--spacing-l) 0 var(--spacing-l);
    margin-bottom: var(--spacing-l);
}

.down_order_cont {
    display: flex;
    flex-direction: column;
    flex: 1;
    box-sizing: border-box;
}

.down_stake_payout_cont {
    display: flex;
}

.down_stake_fig_curr,
.down_stake_fig_curr_payout {
    display: flex;
}

.down_trade_type_cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    flex: 1;
}

.down_trade_type_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.down_stake_payout_puchase_cont {
    display: flex;
    flex-direction: column;
    flex: 2;
}


.down_stake_payout_cont {
    margin-bottom: auto;
    justify-content: center;
    gap: var(--spacing-l);
}

.down_purchase_btn {
    text-align: center;
    padding: var(--spacing-m) var(--spacing-xl);
    background-color: red;
    border-radius: .3em;
}

.down_order_btn_down {
    text-align: center;
    padding: var(--spacing-xxl);
    background-color: rgb(243, 245, 247);
}






@media (max-width: 768px) {

    .stake_fig_curr,
    .stake_fig_curr_payout {
        flex-direction: column;
    }

    .down_stake_fig_curr,
    .down_stake_fig_curr_payout {
        flex-direction: column;
    }
}






















.trade_informations_container {
    background-color: rgb(238, 241, 241);
    width: 100%;
}

.contract_result_container {
    width: 100%;
    display: flex;
}

.contract_result {
    margin-right: auto;
    padding: var(--spacing-m);
    text-align: center;
    width: 90%;
}

.close_contract_result_container {
    padding: 0 var(--spacing-l);
    background-color: purple;
    height: fit-content;
    border-bottom-left-radius: .2rem;
    text-align: center;
    color: #fff;
    font-size: calc(var(--text-size-xl) + 1rem);

}

.proposal_information {
    background-color: #fff;
    padding: var(--spacing-m);
    margin: 0 var(--spacing-l);
    border: .5px solid rgb(209, 201, 201);
    border-radius: .3rem;
    margin: var(--spacing-l);
    white-space: nowrap;
    overflow: hidden;

}



.buy_price_loose_and_profit_container {
    display: flex;
    padding: var(--spacing-s);
    border-radius: .3rem;
    margin-bottom: var(--spacing-m);

}


.buy_price_container,
.price_after_trade_container,
.profit_container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buy_price_container,
.price_after_trade_container {
    border-right: .5px solid rgb(209, 201, 201);
}

.buy_price_text,
.price_after_trade_text,
.profit_text {
    margin-bottom: var(--spacing-l);
}

.transaction_refrence {
    padding: var(--spacing-l);
    text-align: center;
}

.time_and_end_tic_container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.time_of_trade {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: var(--spacing-m);

}

.end_tic_off_trade {
    display: flex;
    justify-content: flex-end;
    color: rgb(184, 177, 177);

}

.last_digit {
    color: black;
    font-weight: bold;
}

.last_digit_responds {
    display: flex;
    margin: var(--spacing-l) var(--spacing-m);
    margin-bottom: 0;
    border: .1px solid rgb(185, 181, 181);
    border-radius: .3rem;
}

.last_digits {
    flex: 1;
    border: .1px solid rgb(185, 181, 181);
    text-align: center;
    padding: var(--spacing-s);
    height: calc(var(--element-height-s) - 2.4rem);
    padding-top: var(--spacing-xl);

}

.slide_trade_result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
    background-color: red;
    top: auto;
    right: auto;
    left: auto;
    width: auto;
    padding: var(--spacing-l) var(--spacing-m);
    height: var(--element-height-s);
    margin-top: -2.4rem;

}

.last_digit_mirror {
    padding: var(--spacing-m) var(--spacing-l);
    background-color: #fff;
    font-weight: bold;
    text-align: center;
    margin-top: var(--spacing-l);
    border-radius: .3rem;
}

.account_balance_after_trade_result {
    padding: var(--spacing-m);
    text-align: center;
    background-color: rgb(4, 230, 230);
    margin-top: var(--spacing-l);
}

.vol_cont {
    display: flex;
    width: auto;
    margin-bottom: var(--spacing-l);
}

.multi_trade_cont {
    width: 100%;
    padding: var(--spacing-l);
}

.vol_stream {
    margin-bottom: var(--spacing-m);
}


.last_digit_tick {
    font-weight: bold;
}

























.start_time_drop_list {
    display: none;
    position: absolute;
    border: .3px solid lightgrey;
    background-color: #fff;
    width: calc(var(--element-width-l) + 1.7rem);
    color: #000;
    font-weight: bold;
    margin-top: calc(var(--spacing-xxl) + .5rem);
    margin-left: calc(var(--spacing-l) - 1rem);
    border-radius: .1em;
}


.now {
    padding: var(--spacing-l);
    cursor: pointer;
}



.duration_drop_list {
    display: none;
    position: absolute;
    border: .3px solid lightgrey;
    background-color: #fff;
    width: var(--element-width-m);
    color: #000;
    font-weight: bold;
    margin-top: calc(var(--spacing-xxl) + .8rem);
    margin-left: calc(var(--spacing-s) - .3rem);
    border-radius: var(--spacing-xs);
}


.durra {
    padding: var(--spacing-l);
    cursor: pointer;
}



.duration_unit_list {
    display: none;
    position: absolute;
    border: .3px solid lightgrey;
    background-color: #fff;
    width: var(--element-width-m);
    color: #000;
    font-weight: bold;
    margin-top: calc(var(--spacing-xxl) + .8rem);
    margin-left: calc(var(--spacing-s) - .3rem);
    border-radius: var(--spacing-xs);
}

.duru {
    padding: var(--spacing-l);
    cursor: pointer;
}




.stake_list {
    display: none;
    position: absolute;
    border: .3px solid lightgrey;
    background-color: #fff;
    width: calc(var(--element-width-m) - 1rem);
    color: #000;
    font-weight: bold;
    margin-top: calc(var(--spacing-xxl) + .8rem);
    margin-left: calc(var(--spacing-s) - .3rem);
    border-radius: var(--spacing-xs);
}



.stkp {
    padding: var(--spacing-l);
    cursor: pointer;
}





.start_time_cont,
.duration_stake_text_drop_cont,
.stake_Minutes_cont,
.stake_drop_cont {
    cursor: pointer;
}







.active_default {
    background-color: lightblue;
}

/* Custom class for the active div */
.active {
    background-color: lightblue;
}


@media (min-width: 770px) {
    .duration_drop_list {
        margin-top: calc(var(--spacing-xxl));
        margin-left: calc(var(--spacing-s) - 1.4rem);
        border-radius: var(--spacing-xs);
        width: calc(var(--element-width-l));
    }

    .start_time_drop_list {
        margin-top: calc(var(--spacing-xxl) + -.4rem);
        margin-left: calc(var(--spacing-s) - .8rem);
        width: var(--element-width-l);
    }


    .duration_unit_list {
        margin-top: calc(var(--spacing-xxl));
        margin-left: calc(var(--spacing-s) - 1.2rem);
        border-radius: var(--spacing-xs);
        width: var(--element-width-s);
    }

    .stake_list_cont {
        font-weight: bold;
        margin-top: calc(var(--spacing-xxl));
        margin-left: calc(var(--spacing-s) - 1.2rem);
    }

}





















.trade_svg_down,
.trade_svg_up {
    display: none;
}

.match_svg,
.differ_svg {
    display: block;
}




















































































@media (max-width: 1536px) {}

@media (max-width: 1280px) {}

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 640px) {}

@media (max-width: 475px) {}